#title {
  background-color: #393b44;

  color:#fff;
}

/* navbar Code */

.navbar {
  padding: 0 0 4.5rem;}

  .navbar-brand {
    font-size: 3rem;
  }

  .nav-item {
  padding: 8px 0;
}

h1 {font-family: 'Tangerine', serif;
  font-size: 2.5rem;
  line-height: 1.5;
  text-shadow: 4px 4px 4px #aaa;}

  .download-button {
  margin: 10% 3% 5% 0;}

  .container-fluid {
    padding: 3% 15% 7%;
    font-weight: bold;
}

.title-image {
  width:100%;
 position: absolute;
 left: 5%;

}

.genre-intro {
  font-size: 2rem;
  text-align: center;
  font-family: 'Tangerine', serif;
  line-height: 1.5;
  padding-bottom: 55px;
}

#genre{
  padding: 7% 15% ;
  background-color: #fff;
  position: relative;
  z-index: 1;
  }

  .genre-box {
    padding: 4%;
    text-align: center;
  }

  .icon {
    color:#8d93ab;
  margin-bottom:1rem;
  }
  .icon:hover{
  color: #393b44;
}
#merch {
text-align: center;
padding:100px
}

.info-col {
  padding: 5% 3%;
}



#cta {
  background-color: #8d93ab;
  color: #fff;
  padding: 7% 15%;

  text-align: center;
}

.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}




















@media only screen and (max-width: 480px) {
  .title-image {
    position:static;}
  
  #merch {
  padding:10%;

}

  .nav-text{
      font-size: 30px;
    }




    h1 {
      font-size: 20px;

    }
    .btn {
      font-size: 15px;

    }
    .genre-intro{
      font-size: 20px;
    }
    h2 {
      font-size: 20px;
    }
    h4{
      font-size: 20px;
    }

    p{
    font-size:  15px;
    }

    .cta-heading {
      font-size: 20px;
    }







}
